<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>free-trial</title>
    <link rel="stylesheet" href="/business-trial.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body class="container">
    <!--content part-->
    <div class="steps-container">
      <h6>STEP 1 OF 3</h6>
      <h1 class="color">Let’s start your free trial</h1>
      <ul type="none" class="color">
        <li>
          <span class="material-symbols-outlined tick"> task_alt </span>Get full
          access to Stark’s Business Plan for 14 days free.
        </li>
        <li>
          <span class="material-symbols-outlined tick"> task_alt </span>Add as
          many team members as you need.
        </li>
        <li>
          <span class="material-symbols-outlined tick"> task_alt </span>We won’t
          charge your credit card, you can cancel any time.
        </li>
      </ul>
    </div>
    <!--form part-->
    <div class="form">
      <img
        src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_dcaaa08d9d11b4f4f3f0a64bc1957295/stark-stark.png"
        alt="main-icon"
      />
      <h2>Create a free Stark account or sign in with your credentials.</h2>
      <button class="input-or-button" id = "google">Continue with Google</button>
      <form action="/" method="POST">
        <label for="email">Business Email</label>
        <input
          class="input-or-button"
          type="text"
          name="email"
          id="email"
          placeholder="Enter your work email"
        />
      <button class="input-or-button" id = "continue">Continue</button>
      </form>
      <!--terms and services -->
      <div class="terms-conditions">
        <p>
          <a href="/terms-of-service">Terms of Service</a> and
          <a href="privacy-policy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </body>
</html>
