<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>content 8</title>
    <link rel="stylesheet" href="/home.css" />
  </head>

  <body>
    <!--navbar in the hero page-->
    <div class="hero-page white-font">
      <img
        src="https://images.getstark.co/marketing/headers/gradient-bg.webp"
        alt="hero-image"
      />
      <nav class="uppercase bold white-font">
        <div class="nav-ops">
          <img
            src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_dcaaa08d9d11b4f4f3f0a64bc1957295/stark-stark.png"
            alt="main-icon"
          />
          <p>use cases</p>
          <p>pricing</p>
          <p>support</p>
          <p>resources</p>
        </div>
        <div class="log-in-free-trial">
          <p>log in</p>

          <a href="/business-trial"
            ><button class="button">start free trial</button></a
          >
        </div>
      </nav>
      <!--hero page content-->
      <div class="hero-content white-font">
        <h1 class="bold heading">Super&shy;­charge Access&shy;­ibility</h1>
        <p class="paragraph">
          The world’s best companies – from startups to the Fortune 100 – trust
          Stark to accelerate time to digital accessibility compliance.
        </p>
        <a href="sign-in"><button class="button">Sign up for Free</button></a>
      </div>
    </div>
    <!--image 2 -->
    <div class="image2">
      <img
        src="https://images.getstark.co/marketing/features/speed-up-your-accessibility-feature-2023.png?updatedAt=1709782332170"
        alt="image 2"
      />
      <div class="content2 content-color-blue">
        <h1 class="heading bold">
          Speed up your accessibility workflow from months to minutes
        </h1>
        <p class="paragraph">
          Designers, developers, product managers, and accessibility experts at
          30,000+ companies use Stark’s suite of integrated accessibility tools
          in their daily product development cycle. Join them today!
        </p>
      </div>
    </div>
    <!--scroll-animation-->

    <div class="scroll-animation">
      <div class="icons-scroll">
        <img
          src="chrome://branding/content/about-logo@2x.png"
          alt="test image"
        />
        <img
          src="https://w7.pngwing.com/pngs/186/863/png-transparent-apple-logo-apple-logo-computer-wallpaper-silhouette.png"
          alt="test image"
        />
        <img
          src="https://steelbluemedia.com/wp-content/uploads/2019/06/new-google-favicon-512.png"
          alt="test image"
        />
        <img
          src="https://w7.pngwing.com/pngs/1012/770/png-transparent-amazon-logo-amazon-com-amazon-video-logo-company-brand-amazon-logo-miscellaneous-wish-text.png"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPppo-RTPxoay7O23mBKvoIpg-AsLqMml7KQ&s"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzMgBQxGpgyYJnuwxyPbLPlq6WyEtgq1aCvA&s"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJCmg0RV6VIC_pm4pbDNEOBhGA4FOeCMAOAg&s"
          alt="test image"
        />
        <img
          src="chrome://branding/content/about-logo@2x.png"
          alt="test image"
        />
        <img
          src="https://w7.pngwing.com/pngs/186/863/png-transparent-apple-logo-apple-logo-computer-wallpaper-silhouette.png"
          alt="test image"
        />
        <img
          src="https://steelbluemedia.com/wp-content/uploads/2019/06/new-google-favicon-512.png"
          alt="test image"
        />
        <img
          src="https://w7.pngwing.com/pngs/1012/770/png-transparent-amazon-logo-amazon-com-amazon-video-logo-company-brand-amazon-logo-miscellaneous-wish-text.png"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPppo-RTPxoay7O23mBKvoIpg-AsLqMml7KQ&s"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzMgBQxGpgyYJnuwxyPbLPlq6WyEtgq1aCvA&s"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJCmg0RV6VIC_pm4pbDNEOBhGA4FOeCMAOAg&s"
          alt="test image"
        />
        <img
          src="chrome://branding/content/about-logo@2x.png"
          alt="test image"
        />
        <img
          src="https://w7.pngwing.com/pngs/186/863/png-transparent-apple-logo-apple-logo-computer-wallpaper-silhouette.png"
          alt="test image"
        />
        <img
          src="https://steelbluemedia.com/wp-content/uploads/2019/06/new-google-favicon-512.png"
          alt="test image"
        />
        <img
          src="https://w7.pngwing.com/pngs/1012/770/png-transparent-amazon-logo-amazon-com-amazon-video-logo-company-brand-amazon-logo-miscellaneous-wish-text.png"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPppo-RTPxoay7O23mBKvoIpg-AsLqMml7KQ&s"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzMgBQxGpgyYJnuwxyPbLPlq6WyEtgq1aCvA&s"
          alt="test image"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJCmg0RV6VIC_pm4pbDNEOBhGA4FOeCMAOAg&s"
          alt="test image"
        />
      </div>
    </div>

    <!--content 3-->
    <div class="content3">
      <h6 style="color: #381fd1">EXPLORE THE STARK PLATFORM</h6>
      <span class="color">The only end-to-end solutions </span>
      <span class="color"> from design and code to live product</span>
      <div class="cards-container">
        <div>
          <img
            src="https://images.getstark.co/marketing/illos/plugins-integrations-illo-2023.png"
            alt="content image"
          />
          <p class="small spacing">SPEED UP DESIGN & DEV</p>
          <h5>Plug-ins & Integrations</h5>
          <p class="color">
            Meet your team where they work, from Figma and Sketch to GitHub and
            their browser of choice. An accessibility workflow built right into
            the tools they love. No need for them to switch or relearn.
          </p>
        </div>
        <div>
          <img
            src="https://images.getstark.co/marketing/illos/projects-reports-insights-illo-2023.png"
            alt="content image"
          />
          <p class="small spacing">IMPROVE COLLABORATION</p>
          <h5>Projects, Reports & Insights</h5>
          <p class="color">
            Manage your team’s accessibility workflow in the Stark Web app.
            Monitor and manage progress with real-time reports and insights
            across all your projects from design to code.
          </p>
        </div>
        <div>
          <img
            src="https://images.getstark.co/marketing/illos/ai-powered-automation-illo-2023.png"
            alt="content image"
          />
          <p class="small spacing">ACCELERATE WORKFLOWS</p>
          <h5>AI-powered Automation</h5>
          <p class="color">
            Automated continuous scanning of design files and code repositories
            combined with AI-powered suggestions accelerates finding and fixing
            of accessibility issues in record time.
          </p>
        </div>
        <div>
          <img
            src="https://images.getstark.co/marketing/illos/compliance-center-illo-2023.png"
            alt="content image"
          />
          <p class="small spacing">MANAGE AT SCALE</p>
          <h5>Compliance Center</h5>
          <p class="color">
            Manage your company’s accessibility posture in one central hub.
            Assign and document individual controls based on the regulatory
            frameworks. Access evidence for easy auditing.
          </p>
        </div>
      </div>
      <button class="button content-button">Get started for free</button>
    </div>
    <!--content4-->
    <div class="image3">
      <img
        src="https://images.getstark.co/marketing/features/continuous-accessibility-feature-2023.webp"
        alt="image 3"
      />
      <div class="content2 content-color-blue">
        <h1 class="heading bold">
          Continuous Accessibility for your entire team
        </h1>
        <p class="paragraph">
          Get real-time reports that help manage accessibility at scale without
          slowing down the velocity of your team. Stark gives your up-to-date
          insights into the accessibility of all your design files, code
          repositories and live sites or applications, all in one central place
          for efficient collaboration across departments.
        </p>
        <button class="button content-button">Start a free trial</button>
      </div>
    </div>
    <!--content4-->
    <div class="image3">
      <img
        src="https://images.getstark.co/marketing/features/integrated-into-the-tools-feature-2023.webp"
        alt="image 3"
      />
      <div class="content2 content-color-blue">
        <h1 class="heading bold">Integrated into the tools you already use</h1>
        <p class="paragraph">
          Whether it's Figma or Sketch, your favorite web browser, or even
          GitHub and beyond, Stark integrates into the tools your team already
          uses for maximum efficiency and no learning curve. Our AI-powered
          integrations help your teammates find and fix accessibility issues as
          early as the first designs and all across the development cycle.
        </p>
        <button class="button content-button">Get started for free</button>
      </div>
    </div>
    <div class="image3">
      <img
        src="https://images.getstark.co/marketing/features/enterprise-grade-platform-feature-2023.png"
        alt="image 3"
      />
      <div class="content2 content-color-blue">
        <h1 class="heading bold">An enterprise-grade platform you can trust</h1>
        <p class="paragraph">
          The entire Stark platform and all our integrations are built with
          enterprise-grade security. From SSO and our fully GDPR /
          SOC2-certified platform to our zero-trust policy that underpins all
          our tool integrations, we ensure maximum security and privacy for our
          customers’ data and IP.
        </p>
        <button class="button content-button">start a free trial</button>
      </div>
    </div>
    <!--last image 3-->
    <div class="image3 last-content">
      <div class="images">
        <img
          src="https://images.getstark.co/marketing/testimonials/g2-best-roi-spring-2024.png"
          alt="image 3"
        />
        <img
          src="https://images.getstark.co/marketing/testimonials/g2-high-performer-spring-2024.png"
          alt="images-image"
        />
        <img
          src="https://images.getstark.co/marketing/testimonials/g2-users-love-us.png"
          alt="images-image"
        />
      </div>
      <div class="content2 content-color-blue">
        <h1 class="heading bold">
          Built to deliver business value, loved by the community.
        </h1>
        <p class="paragraph">
          Stark is the only Continuous Accessibility platform that accelerates
          time-to-compliance from design and code to QA and PM, and helps
          companies of all sizes deliver highest quality experiences for all
          users.
        </p>
      </div>
    </div>
    <!--ending box-->
    <div class="last-box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwDaItjr2Tda-1dcr43hTZAsaRJUv7zGs9fhqm2GMc-QAz7f8N"
        alt="last-image"
      />
      <h1>“A must have for accessibility checks.”</h1>
    </div>
    <!--green content-->
    <div class="green-container">
      <div class="green-content">
        <p>WHY STARK?</p>
        <h1 class="heading content-color-blue bold">
          Build and ship inclusive software, accelerate time-to-compliance.
        </h1>
        <div class="green-data">
          <div class="green-box">
            <img
              src="https://images.getstark.co/marketing/illos/increase-velocity-illo-2023.png"
              alt="image 1"
            />
            <h2>Increase Velocity</h2>
            <p>
              Stark is the only end-to-end platform that helps your team find
              and fix accessibility issues from design and code to the live
              product. All this, while being up to 10x faster than any other
              tool in the market.
            </p>
          </div>
          <div class="green-box">
            <img
              src="https://images.getstark.co/marketing/illos/accelerate-compliance-illo-2023.png"
              alt="image 1"
            />
            <h2>Accelerate Compliance</h2>
            <p>
              Reports and Insights are available in real-time for every project
              in Stark. Plus, time-stamped historic reports are available at any
              time for up-to-date compliance reporting across departments.
            </p>
          </div>
          <div class="green-box">
            <img
              src="https://images.getstark.co/marketing/illos/reduce-cost-illo-2023.png"
              alt="image 1"
            />
            <h2>Reduce Cost</h2>
            <p>
              Stark’s fully integrated solution enables fixing of accessibility
              issues as early as first design drafts, reducing 56% of issues
              that typically make it into code where remediation costs can be up
              100x higher.
            </p>
          </div>
          <div class="green-box">
            <img
              src="https://images.getstark.co/marketing/illos/mitigate-risk-illo-2023.png"
              alt="image 1"
            />
            <h2>Mitigate Risk</h2>
            <p>
              The entire Stark platform and all our integrations are built with
              enterprise-grade security. From SSO and our fully SOC2-certified
              platform stack to our zero-trust policy that underpins all our
              tool .
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--purple background image-->
    <div class="purple-background">
      <img
        src="https://www.getstark.co/homepage-blob-3.png"
        alt="background image"
      />
    </div>
    <div class="purple-hero-box">
      <!--purple images-->
      <div class="purple-images">
        <img
          src="https://images.getstark.co/marketing/features/workflow-designer.webp?updatedAt=1697384167702"
          alt=""
        />
        <img
          src="https://images.getstark.co/marketing/features/workflow-developer.webp?updatedAt=1697384167702"
          alt=""
        />
        <img
          src="https://images.getstark.co/marketing/features/workflow-pm-2.webp"
          alt=""
        />
        <img
          src="https://images.getstark.co/marketing/features/workflow-compliance.webp?updatedAt=1697384167702"
          alt=""
        />
      </div>

      <!--purple container-->
      <div class="purple-container">
        <!--purple content-->
        <div class="purple-content">
          <!--first heading and paragraph-->
          <p>STREAMLINING WORKFLOWS, CONSOLIDATING TOOLS</p>
          <h1 class="bold color">We scale with you across departments</h1>
          <!--purple cards-->
          <div class="purple-cards">
            <!--divs contain the anchor 
          which are another div in itself-->
            <div class="card">
              <a href="/for-desingers" class="links-for-production">
                <div>
                  <h2>Desingers</h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore excepturi id tenetur iusto? Velit nobis repudiandae
                    laudantium
                  </p>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="/for-developers" class="links-for-production">
                <div>
                  <h2>Developers</h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore excepturi id tenetur iusto? Velit nobis repudiandae
                    laudantium
                  </p>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="/for-product-managers" class="links-for-production">
                <div>
                  <h2>Product Managers</h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore excepturi id tenetur iusto? Velit nobis repudiandae
                    laudantium
                  </p>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="/for-compliance-managers" class="links-for-production">
                <div>
                  <h2>Compliance Managers</h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore excepturi id tenetur iusto? Velit nobis repudiandae
                    laudantium
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      let copy = document.querySelector(".icons-scroll").cloneNode(true);
      document.querySelector(".scroll-animation").appendChild(copy);
    </script>
  </body>
</html>
